
.post{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;  
    text-align: left;
    margin: 20px;
    
}

.post span{
    font-weight: bold;
}
.post-item{

    padding: 10px;  
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}