.products{
    font-size: 20px;
    /* display: flex; */
}
.desserts-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin: 40px 0;
    grid-gap: 20px 0;
}