.common {
    display: flex;
    align-items: center;
}
.common-span {
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}
.svg{
    margin-right: 10px;
    cursor: pointer;
    fill: red;
}