.common {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: left; */
    align-items: center;
    /* gap: 20px; */
}

h2 {
    font-size: 45px;
    padding: 20px;
    margin: 20px 0;
}

.category-form {
    width: 265px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: end;
    font-size: 20px;
    gap: 20px;
}

input {
    /* margin-top: 40px; */
    box-shadow: none;
}

.btn-add {
    margin-top: 30px;
    background-color: #ee7560;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
button:hover {
    background-color: rgb(118, 61, 61);
}