.modal{
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   position: absolute;
   z-index: 15;
   width: 30vw;
   height: 20vh;
   border: 1px solid rgb(160, 193, 218);
   top:40vh;
   left: 35vw;
   background: rgb(255, 215, 215);
   border-radius: 10px;
   box-shadow: 5px 5px 20px rgb(160, 193, 218);
  
}
.modal__button{
   display: flex;
   gap: 10px;
}
.modal p{
   font-size: 20px;
}
