.blogs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 40px 0;
  grid-gap: 20px;
}

.blogContainer {
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px;
}

.blogPost {
  margin: 20px;
}

.blogPost h2 {
  color: #333;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.blogPost p {
  margin: 5px 0;
  color: #666;
}
.blogPost img {
  width: 200px;
}

.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #777;
}

button{
  width: 120px;
  margin: 0 auto;
  border: none;
  display: block;
  font-size: 14px;
  font-weight: 800;
  border-radius: 5px;
  opacity: 0.9;
  text-transform: upercase;
  transition: background-color 0.3s ease;
  cursor: pointer;
  background-color: blue;
  color: white;
}
    button:hover{
        opacity: 0.6;
    }
    .green {
      background-color: Green;
      color: white;
    }
    .secondary {
      background-color: #645c5c;
      color: white;
    }
    .error {
      background-color: red;
      color: white;
    }