.App {
  position: relative;
  min-height: 100vh;
}

.header {
  /* position: sticky; */
  top: 0;
  left: 0;
}

.footer {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

.header,
.footer {
  background: rgb(226, 224, 224);
  padding: 10px;
}
