
.blogPost {
  border: 1px solid #ddd;
  padding: 15px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.blogPost h2 {
  color: #333;
}

.blogPost p {
  margin: 10px 0;
  color: #666;
}
.blogPost img {
  width: 200px;
}


